.Game-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.detail {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.detail:hover {
    color: white;
}

.collection-btn {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #007bff; 
    color: #fff; 
    font-size: 16px;
    text-align: center;
}

button[class="fa fa-trash-o"] {
    font-size: 25px;
    padding: 5px 10px;
    margin: 20px;
}

button[class="fa fa-trash-o"]:hover {
    font-size: 25px;
    color: white;
    background-color: red;
    padding: 5px 10px;
}

.active-btn {
    /* Add styles for the active button, for example, changing the background color */
    background-color: red; /* Change this to the desired color */
    color: #fff; /* Change this to the desired text color */
  }
  
